[Unit]
Description=Bitcoin Core for Bitcore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/poliscore
ExecStart=/usr/bin/poliscore-bitcoind -datadir=/home/poliscore/.poliscore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=poliscore
ExecStartPre=/bin/mkdir -p /run/poliscore
ExecStartPre=/bin/chown poliscore:poliscore /run/poliscore
ExecStartPre=/bin/chmod 755 /run/poliscore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target